.button {
    background-color: var(--color-accent);
    border: none;
    border-radius: var(--radius-m);
    height: 40px;
    color: var(--color-text);
    font-size: var(--font-size-xl);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* outside spinner circle */
.button--loading::before {
    --loading-circle-degree: 0deg;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    height: 28px;
    width: 28px;
    background: conic-gradient(var(--color-accent) var(--loading-circle-degree), var(--color-font) var(--loading-circle-degree));
    animation: loading-circle-spin linear infinite 4s;
    border-radius: 50%;
    transform-origin: 50% 50%;
}

/* inside spinner circle */
.button--loading::after {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: 1;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: inherit;
}

@property --loading-circle-degree {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes loading-circle-spin {
    0% {
        --loading-circle-degree: 0deg;
        transform: rotate(0deg);
    }

    50% {
        --loading-circle-degree: 300deg
    }

    100% {
        --loading-circle-degree: 0deg;
        transform: rotate(1800deg);
    }
}

.button:hover {
    filter: brightness(1.1);
}

.button:disabled {
    background-color: var(--color-disabled-content);
    color: var(--color-disabled-text);
}

.button--loading {
    background-color: var(--color-accent) !important;
}

.button:disabled:hover,
.button--loading:hover {
    filter: none;
    cursor: default
}