.cd-button {
    flex-grow: 0;
    cursor: pointer;
    color: var(--color-font);
    border: none;
    background-color: transparent;
    --copy-text-animation-duration: 0.22s;
}

.cd-button:hover {
    color: white;
}

.cd-button__states-container {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
}

.button-text__container {
    grid-area: 1 / 1;
    background-color: var(--color-secondary);
    display: flex;
}

.svg-icon {
    width: 1.3em;
    height: 1.3em;
    padding-left: var(--spacing-xs);
    flex-shrink: 0;
    display: inline;
}

/* ready state */
.button-text__container--ready {
    clip-path: inset(0 0 0 0);
}

/* disappearance animation of a front text layer*/
.cd-button--on-cooldown .button-text__container--ready {
    transition: clip-path var(--copy-text-animation-duration) linear;
    clip-path: inset(0 0 0 100%);
}


/* appearance animation of a front text layer*/
.cd-button--ready .button-text__container--ready {
    animation: appearance-animation 0.3s;
}

@keyframes appearance-animation {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

/* rectangle that follows the text change animation */
/* for disappearance*/
.button-text__container::after {
    --rectangle-color: var(--color-secondary);
    content: "";
    width: 10px;
    height: 100%;
    transform: skew(-10deg);
    background-color: var(--rectangle-color);
    position: absolute;
    left: 0px;
    opacity: 0;
    transition: left var(--copy-text-animation-duration) linear;
}

/* for appearance*/
.button-text__container::before {
    --rectangle-color: var(--color-secondary);
    content: "";
    width: 10px;
    height: 100%;
    transform: skew(-10deg);
    background-color: var(--rectangle-color);
    position: absolute;
    left: 0px;
    opacity: 0;
    transition: left var(--copy-text-animation-duration) linear;
}

/* animation of the rectangle */
/* for disappearance*/
.cd-button--ready .button-text__container::after {
    opacity: 1;
    left: 100%;
    animation: rectangle-disappearance 0s linear forwards var(--copy-text-animation-duration);
}

/* for appearance*/
.cd-button--on-cooldown .button-text__container::before {
    opacity: 1;
    left: 100%;
    animation: rectangle-disappearance 0s linear forwards var(--copy-text-animation-duration);
}


@keyframes rectangle-disappearance {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0%;
    }
}

/* letter spans selectors */
.cd-button--on-cooldown .button-text__container--on-cooldown>span,
.cd-button--ready .button-text__container--ready>span {
    animation: letter-bounce calc(var(--copy-text-animation-duration) * 0.3) ease-out;
    animation-delay: calc(var(--copy-text-animation-duration) / var(--string-length) * var(--id));
}

.button-text__container>span {
    display: inline-block;
}

/* --------------------- */

@keyframes letter-bounce {
    0% {
        translate: 0px 0px;
    }

    30% {
        translate: 0px -5px;
    }

    100% {
        translate: 0px 0px;
    }
}


/* bounce of a "ready" text's svg icon when state is "on-cooldown" */
.cd-button--on-cooldown .svg-icon--on-cooldown {
    animation: letter-bounce calc(var(--copy-text-animation-duration) * 0.7) ease-out;
    animation-delay: var(--copy-text-animation-duration);
}

/* bounce of a "on-cooldown" text's svg icon when state is "ready" */
.cd-button--ready .svg-icon--ready {
    animation: letter-bounce calc(var(--copy-text-animation-duration) * 0.7) ease-out;
    animation-delay: var(--copy-text-animation-duration);
}

@keyframes letter-bounce-loading {
    0% {
        translate: 0px 0px;
    }

    10% {
        translate: 0px -2px;
    }

    20% {
        translate: 0px 0px;
    }

    100% {
        translate: 0px 0px;
    }
}

.cd-button__loading-spans-container span {
    display: inline-block;
    animation: letter-bounce-loading 1s ease-out infinite;
    animation-delay: calc(0.1s * var(--id));
}