.cd-button {
    flex-grow: 0;
    cursor: pointer;
    color: var(--color-font);
    border: none;
    background-color: transparent;
}

.cd-button:hover {
    color: white;
}

.cd-button__states-container {
    position: relative;
}

.cd-button__state-spans-container {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: fit-content;
}

.svg-icon {
    width: 1.3em;
    height: 1.3em;
    padding-left: var(--spacing-xs);
    flex-shrink: 0;
}

/* cooldown state */
.cd-button__state-spans-container:first-child {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* ready state */
.cd-button__state-spans-container:last-child {
    clip-path: inset(0 0 0 0);
}

/* disappearance animation of a front text layer*/
.cd-button--on-cooldown .cd-button__state-spans-container:last-child {
    transition: clip-path var(--copy-text-animation-duration) linear;
    clip-path: inset(0 0 0 100%);
}


/* appearance animation of a front text layer*/
.cd-button--ready .cd-button__state-spans-container:last-child {
    animation: appearance-animation 0.3s;
}

@keyframes appearance-animation {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

/* rectangle that follows the text change animation */
/* for disappearance*/
.cd-button__state-spans-container::after {
    --rectangle-color: var(--color-secondary);
    content: "";
    width: 10px;
    height: 100%;
    transform: skew(-10deg);
    background-color: var(--rectangle-color);
    position: absolute;
    left: 0px;
    opacity: 0;
    transition: left var(--copy-text-animation-duration) linear;
}

/* for appearance*/
.cd-button__state-spans-container::before {
    --rectangle-color: var(--color-secondary);
    content: "";
    width: 10px;
    height: 100%;
    transform: skew(-10deg);
    background-color: var(--rectangle-color);
    position: absolute;
    left: 0px;
    opacity: 0;
    transition: left var(--copy-text-animation-duration) linear;
}

/* animation of the rectangle */
/* for disappearance*/
.cd-button--ready .cd-button__state-spans-container::after {
    opacity: 1;
    left: 100%;
    animation: rectangle-disappearance 0s linear forwards var(--copy-text-animation-duration);
}

/* for appearance*/
.cd-button--on-cooldown .cd-button__state-spans-container::before {
    opacity: 1;
    left: 100%;
    animation: rectangle-disappearance 0s linear forwards var(--copy-text-animation-duration);
}


@keyframes rectangle-disappearance {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0%;
    }
}

/* letter spans selectors */
.cd-button--on-cooldown .cd-button__state-spans-container:first-child span,
.cd-button--ready .cd-button__state-spans-container:nth-child(2) span {
    animation: letter-bounce calc(var(--copy-text-animation-duration) * 0.3) ease-out;
    animation-delay: calc(var(--copy-text-animation-duration) / var(--string-length) * var(--id));
}

.cd-button__state-spans-container:first-child span,
.cd-button__state-spans-container:nth-child(2) span {
    line-height: 1em;
}

/* --------------------- */

@keyframes letter-bounce {
    0% {
        translate: 0px 0px;
    }

    30% {
        translate: 0px -5px;
    }

    100% {
        translate: 0px 0px;
    }
}

/* bounce of a "ready" text's svg icon when state is "on-cooldown" */
.cd-button--on-cooldown .cd-button__states-container .cd-button__state-spans-container:nth-child(1) .svg-icon {
    animation: letter-bounce calc(var(--copy-text-animation-duration) * 0.7) ease-out;
    animation-delay: var(--copy-text-animation-duration);
}

/* bounce of a "on-cooldown" text's svg icon when state is "ready" */
.cd-button--ready .cd-button__states-container .cd-button__state-spans-container:nth-child(2) .svg-icon {
    animation: letter-bounce calc(var(--copy-text-animation-duration) * 0.7) ease-out;
    animation-delay: var(--copy-text-animation-duration);
}

.text-block__divider div {
    border-color: var(--color-font);
}

@keyframes letter-bounce-loading {
    0% {
        translate: 0px 0px;
    }

    10% {
        translate: 0px -2px;
    }

    20% {
        translate: 0px 0px;
    }

    100% {
        translate: 0px 0px;
    }
}

.cd-button__loading-spans-container span {
    display: inline-block;
    animation: letter-bounce-loading 1s ease-out infinite;
    animation-delay: calc(0.1s * var(--id));
}